/*Navigation Bar*/
.container {
  max-width: 100%;
  margin: 0px;
  margin-right: 5px;
}

.header{
  background-color:black;
  color: white;
}

.navigation {
  margin: 0px;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header--navigation--logo {
display: flex;
justify-content: flex-start;
}

.header--navigation--list ul {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.header--navigation--list ul li a {
  color: white;
  font-size: 1.5rem;
  font-weight: lighter;
  text-decoration: none;
  font-family: 'Gill Sans';
}

.header--navigation--list ul li a:hover {
  text-decoration: underline;
  color: lightgrey;
}

/*Hero Section*/
.Hero--Section {
  width: 100%;
  height: 650px;
  max-height: 700px;
  background-image: url('./images/Hero\ Section\ Image.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}

.Hero--text {
  display: flex;
  width:50%;
  height:650px;
  margin-left: 20px;
  flex-direction: column;
  justify-content: center;
}

.Uppercase {
font-family: Georgia;
text-transform: uppercase;
font-size: 7rem;
}

.Supporting {
  font-family:'Segoe UI';
  font-weight:lighter;
  font-size: 3rem;
}

/*.hero--button {
  display:flex;
  margin-top:20px;
  width: 50%;
  height: 300px;
}*/

.learn--more--hero {
  height: 60px;
  width: 250px;
  background-color: white;
  color: black;
  border-radius: 30px;
  font-family:'Segoe UI';
  font-size: 1.5rem;
}

.learn--more--hero a:hover {
  background-color: gray;
}

/*Ratings Section*/

.Ratings--Section {
  display: flex;
  width: 100%;
  height: 650px;
  background-color:red;
  flex-direction: column;
}

.Rating--Section--h2 {
  display:flex;
  margin-top: 30px;
  margin-left: 20px;
  font-family:'Segoe UI';
  font-weight: lighter;
  font-size: 4rem;
}
.ratings{
  display: flex;
  margin-top: 70px;
  width: 100%;
  height:60%;
  background-color:darkgreen;
  list-style-type: none;
}

.ratings ul {
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  gap: 3rem;
  list-style-type: none;
}

.ratings ul li {
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  color: white;
  font-family:'Segoe UI';
}

/*Watch Section*/

.watch--section {
  display: flex;
  width: 100%;
  height: 700px;
  background-color: blue;
}

.Watch--Section--h2 {
  display: flex;
  margin-top: 30px;
  margin-left: 20px;
  font-family:'Segoe UI';
  font-weight: lighter;
  font-size: 4rem;
  color: white
}

.Posters ul {
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  list-style-type: none;
}

.Posters ul li {
  border-radius: 20;
}

.bts-section {
  display: flex;
  width: 100%;
  height: 750px;
  background-image: url('./images/Behind\ the\ Scenes.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: blur(2px);
}

.bts-text {
  display:flex;
  width: 100%;
  height: 75%;
  background-color:red;
}

/*Screen reader only, based on example shown in class*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
