.container {
  max-width: 900px;
  margin: 0 auto; 
}

.header{
  background-color:black;
  color: white;
}

.navigation {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header--navigation--logo {
display: flex;
justify-content: flex-start;
}

.header--navigation--list ul {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.header--navigation--list ul li a {
  color: white;
  text-decoration: none;
  font-family: 'Gill Sans';
}

.header--navigation--list ul li a:hover {
  text-decoration: underline;
  color: lightgrey;
}